 <!-- Content -->
 <div class="content-wrapper clearfix">      
 	<div id="col-main"> 
 		<!---Carousel-->
 		<%=render "carousel" %>    
 		<!-- Three featured products -->
 		<section class="products-prominent clearfix diagonal-divider">
 			<header class="section-details clearfix ">
 				<h2 class="section-title">Ultimos Cuadros</h2>        
 				<div class="view-more">	       		
 					<%= link_to "Ver Mas »", works_path %> 
 				</div>        
 			</header>
 			<ul id="featured-grid" class="product-grid wide"> 
 				<% @works_recent.each do |work| %>       
 				<li class="product  generated-height" style="height: 299px;">
 					<%= link_to work, :class =>"product-photo" do%>
 					<%= image_tag(work.image.url, :size => "240x240")%>
 					<% end %>	          
 					<div class="product-information" style="height: 39px;">
 						<h3><a><%= work.name %></a></h3>            
 					</div>
 				</li><!-- /.product -->
 				<% end%> 	     
 			</ul>	      
 		</section>
 	</div><!-- /#col-main -->  
</div><!-- /.content -->