
<div class="content-wrapper clearfix">


  <div id="col-main" class="content">
    <div id="page-header">
      <h2 id="page-title">Login</h2> 
    </div><%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
      <br>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <br>
    <div class="field">
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      <%= label_tag :remember_me %>
    </div>
      <br>
    <div class="actions"><%= submit_tag "Log in" %></div>
    <% end %>
    
  </div><!-- /#col-main -->    



</div>