<div class="content-wrapper clearfix">
	<div id="col-main">
		<div id="product" class="clearfix content">
			<div id="product-information">
				<p id="add-to-cart-msg"></p>
				<div id="product-header" class="diagonal-divider clearfix">
					<div id="product-header-title">
						<h1 id="product-title"><%=@work.name%></h1>
					</div>		
				</div><!-- /#product-header -->
				<div class="description">
					<p><%=@work.description%></p>
					<p><%= number_to_currency(@work.price) %></p> 
					<p><%= @work.size %></p> 
					<%if current_user %>
			

					<%= link_to image_tag("destroy.png", size:"25x25"), work_path, method: :delete ,data: { confirm: 'Are you sure?'} %>
					<%= link_to image_tag("edit.png", size:"25x25"), edit_work_path(@work)  %>
					<%end %>
				</div>
			</div><!-- /#product-information -->
				<%= render "galery"%>
		</div><!-- /#product -->
			<%= render "others" %>
	</div><!-- /#col-main -->
	<div>
		<%= link_to "Anterior", @work.prev if @work.prev  %>|	
		<%=link_to "Siguiente", @work.next  if @work.next %>
	</div>
</div>



