<div>
	<h1><%= @work.name %></h1>

	
	
	<div  id="image"><%= image_tag @work.image_url if @work.image? %></div>
	<div  id="date">Fecha: <%= @work.date %> <%= link_to "Borrar", @work, method: :delete,
	                                  data: { confirm: "You sure?" } %></div>
	
	<div id="description">Descripcion: <%= @work.description %> </div>
	<%= link_to "Anterior", @work.prev if @work.prev  %>|	
	<%=link_to "Siguiente", @work.next  if @work.next %>



</div>
