<h1><%= @work.name %></h1>

Description: <%= @work.description %>
Date: <%= @work.date %>

<%= image_tag @work.image_url if @work.image? %>
|<%= link_to "delete", @work, method: :delete,
                                  data: { confirm: "You sure?" } %>

