
<div class="content-wrapper clearfix">


	<div id="col-main" class="content">
		<div id="page-header">
			<h2 id="page-title">Contactenos</h2>	
		</div>
		
		<%= simple_form_for @contact, :url => contacts_path do |f| %>
		<%= f.input :name, :label => "Nombre" if ContactUs.require_name %>
		<%= f.input :email, :label => "Correo" %>		
		<%= f.input :message, :as => :text, :label => "Mensaje" %>
		<%= f.button :submit, :value =>"Enviar", :class => "btnpink" %>
		<% end %>
	</div><!-- /#col-main -->    



</div>