    <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>


    <header id="top" class="clearfix">
      <h1 id="my-title">       
        Pirograbados Laverde
      </h1>
      <nav id="top-menu" class="clearfix">
        <ul>          
          <li class="first">           
            <a href="/">Home</a>            
          </li>          
          <li class="">
            <%= link_to "Galeria", works_path %> 
          </li>
          <li class="">             
            <%= link_to "Tu Retrato", retrato_path %>            
          </li>    
          <li class="">             
            <%= link_to "Acerca de mi", about_path %>            
          </li>
          <li class="last">           
            <%= link_to "Contactame", "/contact-us" %>                           
          </li>          
        </ul>        
      </nav>
      <div id="umbrella">
        <ul>
          <%= li("Login",login_path) unless current_user %>          
          <%= li("Nuevo Cuadro",new_work_path) if current_user %>
          <%= li("Logout",logout_path) if current_user %>

        </ul>
      </div>
    </header>
